:root {
    --sidebar-color: #D1E2ED;
    --background-color: #F5F5F5;
    --accent-color: #004F84;
    --hover-accent-color:#003f69;
    --hover-sidebar-color: #8FB6CF;
    --light-text-color: #FFF;
    --dark-text-color: #000;
    --secondary-dark-text-color: #444;
    --ges-color: #33fdd4;
    --ges-dark-color: #00cba3;
    --notice-internal-bg-color: #bbcfdd;
    --notice-admin-bg-color: #95dfd2;
  }
