:root {
    --sidebar-color: #D1E2ED;
    --background-color: #F5F5F5;
    --accent-color: #004F84;
    --hover-sidebar-color: #8FB6CF;
    --light-text-color: #FFF;
    --dark-text-color: #000;
    --secondary-dark-text-color: #444;
    --ges-color: #00E1B4;
  }
