h1, h2, h3, h4, h5, h6, p {
    color: var(--dark-text-color);
}

.card-header {
    background-color: var(--accent-color);
    color: var(--light-text-color);
}

.form-container {
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 1em;
}

.form-container::-webkit-scrollbar {
    width: 4.8px;
    height: 0.5em;
}

.form-container::-webkit-scrollbar-track {
    background-color: var(--sidebar-color);
    border-radius: 1em;
}

.form-container::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 1em;
}


.model-info{
    max-height: 80vh;
    overflow-y: auto;
    font-size: 0.8em;
    font-weight: 600;
}

.model-info::-webkit-scrollbar {
    font-size: 1em;
    width: 4.8px;
    height: 0.5em;
}

.model-info::-webkit-scrollbar-track {
    background-color: var(--sidebar-color);
    border-radius: 1em;
}

.model-info::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 1em;
}

.patient-administration>.btn{
    padding: 0.2em 0.4em;
    font-size: inherit;
    margin-right: 1em;
    margin-bottom: 1em;
}

.visitors{
    font-size: 0.6rem;
    font-weight: 500;
}

label, input{
    font-size: 0.8rem;
}

.form-group{
    margin-bottom: 0.4em;
}

input, select, option{
    padding: 0.05em 0.8em !important;
    height: 2.5em !important;
    color: var(--dark-text-color) !important;
    margin-bottom: 0.2rem !important;
}

.form-control{
    padding: 0em auto;
    font-size: 0.8rem;
}

.form-group textarea{
    height: 6em;
    resize: none;
    color: var(--dark-text-color);
}

label{
 margin-bottom: 0.2em !important;
}

.signature-img{
    min-height: 50px;
    max-height: 100px;
    width: auto;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 1em;
    padding: 0.4em;
    background-color: var(--light-text-color);
    margin-bottom: 2em;
}

.flags-form{
    display: flex;
    flex-direction: row;
}

.flag{
    float: right;
    margin-right: 0;
    margin-left: auto;
    max-height: 2em;
    max-width: 4em;
}
