ºh2, h3, h4, h5, h6{
    color: var(--dark-text-color);
}

.card-header {
    background-color: var(--accent-color);
    color: var(--light-text-color);
    font-weight: 500;
}

.form-container {
    max-height: 75vh;
}

.form-container::-webkit-scrollbar {
    width: 4.8px;
    height: 0.5em;
}

.form-container::-webkit-scrollbar-track {
    background-color: var(--sidebar-color);
    border-radius: 1em;
}

.form-container::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 1em;
}


.model-info{
    max-height: 80vh;
    font-size: 0.8em;
    font-weight: 600;
}

.model-info::-webkit-scrollbar {
    font-size: 1em;
    width: 4.8px;
    height: 0.5em;
}

.model-info::-webkit-scrollbar-track {
    background-color: var(--sidebar-color);
    border-radius: 1em;
}

.model-info::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 1em;
}

.patient-administration {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.patient-administration>.btn{
    padding: 0.2em 0.4em;
    font-size: inherit;
    margin-right: 1em;
    margin-bottom: 1em;
}

@media (max-width: 768px) {
    .patient-administration {
        flex-direction: column;
        padding: 1em;
        margin-bottom: 1em;
    }

    .patient-administration>.btn{
        width: 100%;
    }
}

.visitors{
    font-size: 0.8rem;
    font-weight: 500;
}

label, input, select, option{
    font-size: 1rem;
}

.form-group{
    margin-bottom: 0.4em;
}

input, select, option{
    padding: 0.05em 0.8em !important;
    height: 2.5em !important;
    color: var(--dark-text-color) !important;
    margin-bottom: 0.2rem !important;
    font-weight: 500 !important;
}

.form-control{
    padding: 0em auto;
    font-size: 0.8rem;
}

.form-group textarea{
    height: 2.7em;
    resize: none;
    color: var(--dark-text-color);
    font-weight: 500;
}

label{
 margin-bottom: 0.2em !important;
}

.signature-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    max-width: 280px;
    padding: 0.2em;
    margin-bottom: 1em;
    box-sizing: border-box;
}

.signature-img>img{
    min-height:73px ;
    height: auto;
    max-height: 120px;
    box-sizing: border-box;
}

.flags-form{
    display: flex;
    flex-direction: row;
}

.flag{
    float: right;
    margin-right: 0;
    margin-left: auto;
    max-height: 2em;
    max-width: 4em;
}

.heavy-span{
    font-weight: 700;
}

.info-span{
    font-weight: 500;
}

.table-striped{
    border: 3px solid #dee2e6 !important;
}

.table .thead-dark{
    border: 2px solid var(--accent-color);
}


.table .thead-dark th {
    background-color: var(--accent-color);
    font-weight: 400;
    border:2px solid #dee2e6;
}

.table .thead-dark tr{
    border: 3px solid var(--accent-color);
}

.modify-button{
    font-weight: 400;
    font-size: 1rem;
}

.card-header span{
    font-size: 1rem;
    font-weight: 500;
}

.card-header a.btn:hover .bx-pencil, .card-header a.btn:hover .bx-band-aid{
    animation: shake 1s ease-in-out infinite;
}


@keyframes shake {
    0% { transform: rotate(0); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(-15deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0); }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(-2px);
    }
    75% {
        transform: translateY(2px);
    }
    100%{
        transform: translateY(2px);
    }
}

.intervention-text{
    height: 6em !important;
}

.bxs-user-plus{
    font-size: 1.2rem;
}

.card-header .nav-link{
    color: var(--light-text-color) !important;
}

.card-header .nav-link.active{
    color: var(--accent-color) !important;
}

.form-check label{
    font-weight: 700;
}

.textarea-wrapper {
    position: relative;
}

#partial_reduction-textarea{
    padding-right: 2.7rem !important;
}

.clear-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    position: absolute;
    top: 4.5px;
    right: 16px;
    color: #86868686;
    border: none;
    font-size: 1.4rem;
}

.clear-btn:hover .bxs-x-circle{
    color: var(--accent-color);
    transition: 0.1s;
}

.bxs-plane-alt{
    transition: transform 0.3s ease-in-out;
}

.card-header a.btn:hover .bxs-plane-alt{
    transform: translate(10px, -10px);
}

.card-header a.btn:hover .bx-message-alt-add{
    animation: bounce 1s infinite alternate;
}

.suscribe-btn {
    border: 1px solid var(--light-text-color);
}

input[type="time"]{
    height: calc(2.25rem + 2px) !important;
}

span.form-control{
    background-color: #ebebeb;
}

.goDown{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 2em;
    width: 2em;
    top: 65px;
    right: 40px;
    z-index: 999;
    border-radius: 70% !important;
    background-color: var(--accent-color);
    color: var(--light-text-color);
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
    text-decoration: none;
    transition: all 0.3s ease;
}
.goDown i{
    text-align: center;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
}

.tooltip {
    visibility: hidden;
    width: 100px;
    background-color: var(--hover-accent-color);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 0.2em;
  }

  .goDown:hover{
    background-color: var(--hover-accent-color);
  }

  .goDown:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
  }
