@import url("colors.css");

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

h1{
    margin-bottom: 0.6em;
    text-align: center;
}
#ges {
    color: var(--ges-dark-color);
    font-size: 36px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

label{
    text-align: left;
    font-family: "Montserrat", sans-serif;
    color: var(--dark-text-color);
    font-weight: 500;
}

#patiens {
    color: var(--accent-color);
    font-size: 36px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

.container {
    max-width: 400px;
    width: 90%;
    padding: 0 1.4em;
    padding-top: 1.2em;
    padding-bottom: 0.6em;
    background-color: var(--light-text-color);
    border-radius: 0.6em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-container{
    padding-top: 0.6em;
    font-size: 0.8rem;
}

.form-group{
    font-size: 0.8rem;
}

input{
    margin-bottom: 0.6em;
}

.btn{
    width: fit-content;
    padding: 0.4rem 2em;
    font-size: 0.8rem !important;
}

.form-info{
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
}

.form-group textarea{
    height: 200px;
    resize: none;
}

.user-name{
    text-transform: capitalize;
}
