@import url("colors.css");

body {
    background-color: var(--hover-accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

h1 {
    margin-bottom: 0.6em;
    text-align: center;
}

.ges {
    color: var(--ges-color);
    font-size: 60px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

h5 {
    color: var(--light-text-color);
    font-family: "Montserrat";
}

label {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    color: var(--dark-text-color);
    font-weight: 500;
}

.patiens {
    color: var(--light-text-color);
    font-size: 60px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.container {
    max-width: 450px;
    padding: 0 1.4em;
    padding-bottom: 0.6em;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}


#form-container{
    background-color: var(--light-text-color);
    border-radius: 0.6em;
    padding: 1.2em;
    font-size: 0.8rem;
    height: 100%;
    width: 100%;
    animation: goUp 0.5s ease forwards;
}

.form-group label{
    font-weight: 500;
}

@keyframes goUp {
    from {
        transform: translateY(70%);
    }

    to {
        transform: translateY(0);
    }
}

.form-group {
    font-size: 0.8rem;
}

input {
    margin-bottom: 0.6em;
}

.btn {
    width: fit-content;
    padding: 0.4rem 2em;
    font-size: 0.8rem !important;
}

.form-info {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
}

.form-group textarea {
    height: 200px;
    resize: none;
}

.user-name {
    text-transform: capitalize;
}

.typing-animation span {
    opacity: 0;
    display: inline-block;
    display: inline-block;
    position: relative;
    top: -40px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.typing-animation span.visible {
    opacity: 1;
    top: 0;
    transition: opacity 0.3s, top 0.3s;
}
