@import url("colors.css");

.container {
    height: 70vh;
}

.notices-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    padding: 1.5em;
    padding-right: 1em;
    overflow-y: auto;
}

.notices-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.notices-container::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 0.5em;
}

.notices-container::-webkit-scrollbar {
    width: 0.5em;
    height: 10px !important;

}

.notice {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    padding: 0.2em 0.4em;
    border: 1px solid #000000;
    border-radius: 0.8em;
    margin-bottom: 1em;
}

.notice-external {
    border-top-left-radius: 0;
    background-color: var(--light-text-color);
    color: var(--dark-text-color);
}

.notice-admin {
    border-top-left-radius: 0;
    background-color: var(--notice-admin-bg-color);
    color: var(--dark-text-color);
}

.notice-internal {
    float: right;
    margin-right: 0;
    margin-left: auto;
    border-top-right-radius: 0;
    background-color: var(--notice-internal-bg-color);
}

.notice-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9em;
    margin-bottom: 4;
}

.notice-author {
    float: left;
    padding-right: 0.4em;
}

.notice-date {
    margin-left: 4em;
}

.notice-text {
    font-size: 1em;
}

.btn-container {
    padding: 1em 0;
    margin-bottom: 0.2em;
}
