@import url("colors.css");

.container {
    height: 70vh; /* Optional: Adjust as needed */
    overflow-y: auto;
}

.notices-container {
    width: 100%;
    height: fit-content;
    max-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    padding: 1.5em;
    overflow-y: auto;
}

.notices-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.notices-container::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 0.5em;
}

.notices-container::-webkit-scrollbar {
    width: 0.5em;
    height: 10px !important;
}

.notice {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    padding: 0.4em 0.6em;
    border-radius: 0.8em;
    margin-top: 1em;
    font-weight: 400;
}

.notice-external {
    border-top-left-radius: 0;
    background-color: var(--light-text-color);
    color: var(--dark-text-color);
    margin-right: 2em;
    max-width: 85%;
}

.notice-admin {
    border-top-left-radius: 0;
    background-color: var(--notice-admin-bg-color);
    color: var(--dark-text-color);
    margin-right: 2em;
    max-width: 85%;
}

.notice-internal {
    float: right;
    margin-right: 0;
    margin-left: auto;
    border-top-right-radius: 0;
    background-color: var(--notice-internal-bg-color);
    max-width: 85%;
}

.notice-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.8rem;
    margin-bottom: .4rem;
    font-weight: 500;

}

.notice-author {
    float: left;
    padding-right: 0.4em;
}

.notice-date {
    float: right;
    margin-left: auto;
    margin-right: 0.4em;
    text-align: right;
    padding-left: 4em;
}

.notice-text {
    font-size: 1em;
    word-wrap:break-word; /* Permite dividir palabras largas */
    overflow-wrap: break-word; /* Permite dividir palabras largas */
    word-break: normal;
}

.btn-container {
    padding: 1em 0;
    margin-bottom: 0.2em;
}

.form-group > textarea {
    height: 80px;
}

@media only screen and (max-width: 768px) {
    .container{
        max-height: fit-content;
    }

    .card-body{
        height: fit-content;
    }

    .form-group > textarea {
        height:fit-content;
    }

    .notices-container {
        display: flex;
        flex-direction: column-reverse;
        max-height: 100%;
        height: fit-content;
        width: 100%;
        padding: 0;
        padding-right: 0.4em;
        margin-right: 0;
        margin-left: 0;
    }

    /* .notice-external, .notice-admin, .notice-internal {
        max-width: 100%;

    } */
}

.dropdown-toggle::after{
    /* content: none !important; */
    font-size: 1.2rem;
    margin-top: 0.3rem;
    color: var(--dark-text-color);
    transition: 0.2s;

}

.date-container{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.date-span{
    padding: 0.4em 0.6em;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    background-color: var(--sidebar-color);
    border-radius: 0.4em;
}


@media only screen and (max-width: 480px) {
    .container{
        /* height: 80vh; */
        height: 70vh;
        max-width: fit-content;
    }

    .form-group > textarea {
        min-height: 80px;
        height:fit-content;
        max-height: 70vh;
    }

    .card-body{
        height: fit-content;
    }

}

