@import url("colors.css");


.rotate-180 {
    transition: 0.3s ease;
    transform: rotate(180deg);
}

.collapse-icon {
    transition: 0.3s ease;
}

.btn-down{
    font-size: 1rem;
    color: var(--light-text-color);
    background:none ;
    border: none;
    border-radius: 4px;
    transition: 0.2s;
}
.btn-down:hover{
    transition: 0.2s;
    background-color: var(--hover-accent-color);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.4em ;
}

.column {
    flex: 1;
    min-width: 200px;
}

.action-buttons {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
    text-align: center;
}

.pdf-options {
    position: fixed;
    top: 80px;
    right: 25px;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.pdf-options .btn{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

@media (max-width: 1100px) {
    .pdf-options {
        top: 185px;
        bottom: 10px;
        right: 5px;
        left: auto;
    }
}

@media (max-width: 475px) {
    .pdf-options {
        top: 120px;
        bottom: 10px;
        right: 10px;
        left: auto;
        display: none;
        height: fit-content;
    }
}


.form-control{
    font-weight: 500;
}

textarea.form-control{
    min-height: 5em;
    height: 5em;
    resize: vertical !important;
}

.patients-cell{
    font-size: 0.8rem;
    font-weight: 500;
    max-width: 100px;
}
