@import url("colors.css");


.rotate-180 {
    transition: 0.3s ease;
    transform: rotate(180deg);
}

.collapse-icon {
    transition: 0.3s ease;
}

.btn-down{
    font-size: 1rem;
    color: var(--light-text-color);
    background:none ;
    border: none;
    border-radius: 4px;
    transition: 0.2s;
}
.btn-down:hover{
    transition: 0.2s;
    background-color: var(--hover-accent-color);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.4em ;
}

.column {
    flex: 1;
    min-width: 200px;
}

.action-buttons {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
    text-align: center;
}

.pdf-options {
    position: fixed;
    top: 80px; /* a mano porque no se puede de otra forma*/
    right: 10px;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

